.inter-normal {
 font-family: "Inter", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
}
.noto-serif-normal{
 font-family: "Noto Serif", serif;
 font-optical-sizing: auto;
 font-weight:700;
 font-style: normal;
 font-variation-settings:
  "wdth" 100;
}
.bg-whole{background-color:#f5f8ff;}
/*---banner-section---*/
.nav li{list-style:none;}
.navbar a {text-decoration: none;
color: gray;
}
.navbar{display:flex;
 justify-content:space-between; align-items:center;
 max-width:1440px;
 margin:0 auto;
 padding:60px;
}
.nav{display:flex;
 justify-content:space-between;
 gap:20px;
}
.bold{
 font-weight:bold;}
.primary-color{color:#F26322;}
.banner-description{
 display:flex;
 justify-content:space-between;
 align-items:center;
 max-width:1440px;
 margin:0 auto;
 padding:60px;
}
.banner-left{max-width:50%;}
.banner-right img {
 width: 100%;
 height: auto;
}
.heading{font-size: 3.5rem;}
.description{
  /*font-size:1.5rem;*/
 color: gray;
}
/*---plants-section---*/
.plants-grid{display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}
 .plants-section{max-width:1440px;
   margin:0 auto;
   padding:60px;
   text-align:center;}
  .plants-heading {
  font-size:2.5rem;
  margin-bottom: 1rem;
 }
.plants-description {
  color: gray;
 }
.add-to-cart-button{color: white;}
.add-to-cart-button {
  background-color: #F26322;
  color: #FFFFFF;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
}

.add-to-cart-button:hover {
  background-color: gray;
}
.plant-image {
  width: 100%;
  height: auto;
  border-radius:4px;
  margin-bottom: 1rem;
}
.plant-name {
  font-size: 0.5rem;
  color: black;
  font-weight:600px;
}

.plant-price {
  font-size: 0.5rem;
  font-weight:700;
  color: black;
  margin-bottom: 1rem;
}
/*---plants-lover-section---*/
.plants-lover-section{display:flex;
justify-content:space-between;
  align-items:center;
  gap:30px;
  max-width:1440px;
  margin:0 auto;
  padding:60px;
}
.plants-lover-section img{width:100%;}
.plants-lover-section li{list-style:disc;
margin:0;
}
.list-container{color: gray;
font-size:1rem;
line-height:1.6;
}
.list-heading{font-size:3rem;
  margin-bottom:20px;
}
/*--- Join Section ---*/
.join-section {
  background-image: url('news-letter-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0 auto;
  color: white; 
  position: relative; 
}

.join-bunch-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.join-bunch-heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.newsletter-form {
  display: flex;
  justify-content:center;
  width:100%;
}

.email-input {
  padding: 15px 20px;
  border: none;
  font-size: 1rem;
  outline: none; 
}

.subscribe-button {
  background-color: #F26322;
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 1rem;
  font-weight: 600; 
}
/*---footer-section---*/
.footer-section {
  padding: 60px;
  max-width: 1440px;
  margin: 0 auto;}
  .footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap:wrap;
}
.footer-description {
  font-size: 0.95rem;
  color: gray;
  line-height: 1.6;
}
.footer-links-container {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;}
  .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links a {
  text-decoration: none;
  color: gray;
  font-size: 0.95rem;}
  .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap:15px;}
/*Mobile Responsive*/
@media screen and (max-width:576px) {
 /*banner-section*/ 
  .navbar {
    flex-direction: row;
    align-items: center;
    padding:0 5px;
  }

  .navbar img {
    height: 40px;}
 
 .nav a {
    font-size: 0.5rem;
  }
  .display-none {
    display:none;
  }
 .banner-description {
    flex-direction:column-reverse;
    padding:0;
  }

  .banner-left, .banner-right {
    max-width: 100%;
  }

 .heading {
    font-size:1.5rem;
  }

  .description {
    font-size:0.75rem;
    padding:0;
  }
/*---plants-section---*/
.plants-grid{grid-template-columns: repeat(2,1fr);
}
.plants-section{padding:0;}
.plants-heading{font-size:1.5rem;}
/*---plants-lover-section---*/
.plants-lover-section{flex-direction:column;
padding:0;}
.plants-lover-section img{margin-top:30px;}
.list-container{font-size:0.5rem;}
/*join-section*/
  .join-section {
    height: 300px;
    border:solid black;
   .join-bunch-heading{font-size:2rem;}
  }
  /*---footer-section---*/
 .footer-content{flex-direction:column;}
}

